USE [master]
GO
/****** Object:  Database [sn200255]    Script Date: 18.10.2025. 12:10:11 ******/
CREATE DATABASE [sn200255]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sn200255', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sn200255.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sn200255_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sn200255_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sn200255].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sn200255]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[IdGen] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[IdGen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[IdMov] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nchar](100) NOT NULL,
	[Director] [nchar](100) NOT NULL,
 CONSTRAINT [PK_MOVIE] PRIMARY KEY CLUSTERED 
(
	[IdMov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_GENRES]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_GENRES](
	[IdMov] [int] NOT NULL,
	[IdGen] [int] NOT NULL,
 CONSTRAINT [PK_MOVIE_GENRES] PRIMARY KEY CLUSTERED 
(
	[IdMov] ASC,
	[IdGen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_TAGS]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_TAGS](
	[IdMov] [int] NOT NULL,
	[IdTag] [int] NOT NULL,
 CONSTRAINT [PK_MOVIE_TAGS] PRIMARY KEY CLUSTERED 
(
	[IdMov] ASC,
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATINGS]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATINGS](
	[IdUse] [int] NOT NULL,
	[IdMov] [int] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_RATINGS] PRIMARY KEY CLUSTERED 
(
	[IdUse] ASC,
	[IdMov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[IdTag] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[IdUse] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](100) NOT NULL,
	[rewards] [int] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[IdUse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WATCHLIST]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WATCHLIST](
	[IdUse] [int] NOT NULL,
	[IdMov] [int] NOT NULL,
 CONSTRAINT [PK_WATCHLIST] PRIMARY KEY CLUSTERED 
(
	[IdUse] ASC,
	[IdMov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MOVIE_GENRES]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_GENRES_Genre] FOREIGN KEY([IdGen])
REFERENCES [dbo].[Genre] ([IdGen])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_GENRES] CHECK CONSTRAINT [FK_MOVIE_GENRES_Genre]
GO
ALTER TABLE [dbo].[MOVIE_GENRES]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_GENRES_MOVIE] FOREIGN KEY([IdMov])
REFERENCES [dbo].[MOVIE] ([IdMov])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_GENRES] CHECK CONSTRAINT [FK_MOVIE_GENRES_MOVIE]
GO
ALTER TABLE [dbo].[MOVIE_TAGS]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_TAGS_MOVIE] FOREIGN KEY([IdMov])
REFERENCES [dbo].[MOVIE] ([IdMov])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_TAGS] CHECK CONSTRAINT [FK_MOVIE_TAGS_MOVIE]
GO
ALTER TABLE [dbo].[MOVIE_TAGS]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_TAGS_Tag] FOREIGN KEY([IdTag])
REFERENCES [dbo].[Tag] ([IdTag])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_TAGS] CHECK CONSTRAINT [FK_MOVIE_TAGS_Tag]
GO
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [FK_RATINGS_MOVIE] FOREIGN KEY([IdMov])
REFERENCES [dbo].[MOVIE] ([IdMov])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [FK_RATINGS_MOVIE]
GO
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [FK_RATINGS_USER] FOREIGN KEY([IdUse])
REFERENCES [dbo].[USER] ([IdUse])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [FK_RATINGS_USER]
GO
ALTER TABLE [dbo].[WATCHLIST]  WITH CHECK ADD  CONSTRAINT [FK_WATCHLIST_MOVIE] FOREIGN KEY([IdMov])
REFERENCES [dbo].[MOVIE] ([IdMov])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WATCHLIST] CHECK CONSTRAINT [FK_WATCHLIST_MOVIE]
GO
ALTER TABLE [dbo].[WATCHLIST]  WITH CHECK ADD  CONSTRAINT [FK_WATCHLIST_USER] FOREIGN KEY([IdUse])
REFERENCES [dbo].[USER] ([IdUse])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WATCHLIST] CHECK CONSTRAINT [FK_WATCHLIST_USER]
GO
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [CK_RATINGS] CHECK  (([Rating]>=(1) AND [Rating]<=(10)))
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [CK_RATINGS]
GO
/****** Object:  StoredProcedure [dbo].[SP_REWARD_USER_]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REWARD_USER_] 
	@IdUsr int,
	@IdMov int
AS
BEGIN
	SET NOCOUNT ON;
	declare @averageRating decimal(10,3)
	declare @numOfRatings int
	declare @myCursor Cursor
	declare @idGen int
	declare @isFavGenre int
	set @averageRating=(select AVG(rating) from ratings R where R.IdMov=@IdMov AND R.IdUse!=@IdUsr)
	set @numOfRatings=(Select COUNT(R.IdMov) From RATINGS R where R.IdUse=@IdUsr)
	set @mycursor = cursor for select IdGen from MOVIE_GENRES where IdMov=@IdMov
	set @isFavGenre=0

	open @Mycursor
	fetch next from @mycursor
	into @idgen
	while @@FETCH_STATUS=0
	begin
		set @averageRating = (SELECT AVG(Rating)
			FROM RATINGS
			WHERE IdUse=@IdUsr AND IdMov IN (SELECT IdMov from MOVIE_GENRES WHERE IdGen=@idGen))

		if @averageRating>=8 
		BEGIN
			set @isFavGenre=@isFavGenre+1
		END

		fetch next from @mycursor
		into @idgen
	end
	if @isFavGenre>0 AND @averageRating<6 AND @numOfRatings>=10
	BEGIN
		UPDATE [USER]
		SET rewards=rewards+1
		WHERE IdUse=@IdUsr
	END

	close @myCursor
	deallocate @myCursor
END
GO
/****** Object:  Trigger [dbo].[TR_BLOCK_EXTREME_]    Script Date: 18.10.2025. 12:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_BLOCK_EXTREME_] ON [dbo].[RATINGS] 
    FOR INSERT, UPDATE
AS 
BEGIN
    SET NOCOUNT ON;

    DECLARE @extreme int, @neutral int, @rating int, @idUsr int, @idMov int, @idGen int;

    DECLARE curInserted CURSOR FOR 
        SELECT idUse, IdMov, Rating FROM inserted;

    OPEN curInserted;
    FETCH NEXT FROM curInserted INTO @idUsr, @idMov, @rating;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE curGenres CURSOR FOR
            SELECT MG.IdGen FROM MOVIE_GENRES MG WHERE MG.IdMov = @idMov;

        OPEN curGenres;
        FETCH NEXT FROM curGenres INTO @idGen;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF @rating IN (1, 10)
            BEGIN
                SET @extreme = (
                    SELECT COUNT(*) 
                    FROM MOVIE_GENRES MG
                    WHERE MG.IdGen = @idGen AND MG.IdMov IN (
                        SELECT R.IdMov
                        FROM RATINGS R
                        WHERE R.IdUse = @idUsr AND Rating IN (1,10)
                    )
                );

                SET @neutral = (
                    SELECT COUNT(*) 
                    FROM MOVIE_GENRES MG
                    WHERE MG.IdGen = @idGen AND MG.IdMov IN (
                        SELECT R.IdMov
                        FROM RATINGS R
                        WHERE R.IdUse = @idUsr AND Rating IN (6,7,8)
                    )
                );

                IF @extreme > 3 AND @neutral < 3
                BEGIN
                    CLOSE curGenres;
                    DEALLOCATE curGenres;
                    CLOSE curInserted;
                    DEALLOCATE curInserted;
                    RAISERROR('GRESKA: Extremne ocene nisu dozvoljene', 16, 1);
                    ROLLBACK TRANSACTION;
                    RETURN;
                END
            END

            FETCH NEXT FROM curGenres INTO @idGen;
        END

        CLOSE curGenres;
        DEALLOCATE curGenres;

        EXECUTE dbo.SP_REWARD_USER_ @idUsr=@idUsr, @IdMov = @idMov;

        FETCH NEXT FROM curInserted INTO @idUsr, @idMov, @rating;
    END

    CLOSE curInserted;
    DEALLOCATE curInserted;
END
GO
ALTER TABLE [dbo].[RATINGS] ENABLE TRIGGER [TR_BLOCK_EXTREME_]
GO
USE [master]
GO
